@import '~src/styles/_colors.scss';
@import '~src/styles/_animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        padding-right: 3vw;
        padding-left: 3vw;
        font-size: 10vw;
        color: $old-lace;
        animation: fadeIn;
        animation-duration: 5s;
        font-family: 'Courgette', cursive;
    }

    .card {
        height: 30vh;
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ball {
        background-color: $old-lace;
        border-radius: 50%;
        height: 2vh;
        width: 2vw;
    }

    .ball-bouncing {
        background-color: transparent;
    }

    .ball-bouncing::before {
        animation: shadowBouncing 1.2s ease-in infinite;
        background-color:$old-lace;
        border-radius: 2rem;
        bottom: 14vh;
        content: '';
        height: .15rem;
        position: absolute;
        right: 48.4vw;
        width: 1vw;
    }

    .ball-bouncing .ball {
        animation: ballBouncing 1.2s ease-in infinite;
        bottom: 3rem;
        transform-origin: bottom;
    }

    // ----- First Section ----- //
    .main-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        animation: fadeIn;
        animation-duration: 4s;
    }

    .section-two {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        width: 100vw;
        height: 50vh;
        animation: fadeIn;
        animation-duration: 4s;
    }

    .square-left {
        height: 50vh;
        width: 50vw;
        overflow: hidden;
        margin: 1rem;
        border-radius: .2rem;
        background-color: $old-lace;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .square-right {
        height: 50vh;
        width: 50vw;
        margin: 1rem;
        overflow: hidden;
        border-radius: .2rem;
        background-color: lightslategray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // ----- Hover Cards ----- //

    .hover-card-left {
        background-color: $white;
        height: 80%;
        width: 70%;
        border-radius: .1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        animation: expandAndSpinHoverCard 3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hover-card-right {
        background-color: $white;
        height: 80%;
        width: 70%;
        border-radius: .1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        animation: expandAndSpinHoverCard 3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hover-text {
        height: 100%;
        width: 100%;
        animation: fadeInDelay;
        animation-duration: 5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        animation: fadeInDelay;
        animation-duration: 5s;
        font-family: 'Style Script', cursive;
        font-size: 10vw;
        text-shadow: 2px 2px lightslategray;
    }

    @keyframes fadeInDelay {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {opacity: 100%;}
        
    }

    mat-divider {
        width: 70vw;
        height: .1vw;
        background-color: $old-lace;
        animation: expandLine;
        animation-duration: 4s;
        margin: 0;
    }

    @keyframes expandLine {
        0% {
            width: 0;
        }
        100% {
            width: 70vw;
        }
        
    }

}