<div class="card ball-bouncing">
    <div class="title">
        {{ englishTitle }}
    </div>

    <div class="ball"></div>

    <div class="title">
        {{ japaneseTitle }}
    </div>
</div>





<div class="main-body">
    <div class="square-left" [@slideInLeft]>
        <div class="hover-card-left">
           <div class="hover-text">
               <h1>Zachary Harris</h1>
           </div> 
        </div>
    </div>
</div>

<div class="section-two">
    <div class="square-right" [@slideInRight]>
        <div class="hover-card-right">

        </div>
    </div>
</div>


