<div id="home-class" class="home-page">
  <div class="center">
    <div class="center-text">
      <div>
        Hey!
        <div class="dot-container"><div class="dot-typing"></div></div>
      </div>
      <div class="second-container">
        <div>I'm</div><div class="name-container">Zack</div>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/Memoji_thumbsup.png" class="main-image" alt="image">
      <div class="image-shadow"></div>
    </div>
  </div>
</div>


<div class="about-container">
  <app-about></app-about>
</div>


