<!-- NavBar shows when true-->
<div class="nav-bucket" >
  <div *ngIf="showNav" [@slideInOut] class="nav-base">
    <div class="nav-buttons">
      <button
        class="nav-button"
        matTooltip="Home"
        matTooltipClass="tooltip"
        (click)="goToHome()"
      >
        <mat-icon fontSet="fas" color="primary" fontIcon="fa-home"></mat-icon>
      </button>

      <button
        class="nav-button"
        matTooltipClass="tooltip"
        matTooltip="About"

        (click)="goToAbout()"
      >
        <mat-icon fontSet="fas" color="primary" fontIcon="fa-user"></mat-icon>
      </button>

      <button
        class="nav-button"
        matTooltip="Projects"
        matTooltipClass="tooltip"
        (click)="goToProjects()"
      >
        <mat-icon fontSet="fas" color="primary" fontIcon="fa-table"></mat-icon>
      </button>

      <button
        class="nav-button"
        matTooltip="Minimize Nav"
        matTooltipClass="tooltip"
        (click)="toggleNavbar()"
      >
        <mat-icon fontSet="fas" color="primary" fontIcon="fa-compress-arrows-alt"></mat-icon>
      </button>
    </div>
  </div>

  <mat-icon
    *ngIf="!showNav"
    fontSet="fa" fontIcon="fa-long-arrow-alt-down"
    class="arrow-icon"
    (click)="toggleNavbar()"
    matTooltipClass="tooltip"
    [@fadeIn]
  ></mat-icon>
</div>

