@import '~src/styles/_colors.scss';
@import '~src/styles/_animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

:host {
    position: absolute;
    height: 10%;
    width: 100%;

    //----- ICONS -----//
    .arrow-icon {
        color: $site-secondary;
        font-size: 1.7rem;
        padding: 0.5rem;
        padding-left: 0.6rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }

    @keyframes arrowBounce {
      0% {
        transform: translateY(-10px);
      }
      16.667% {
        transform: translateY(-6.5px);
      }
      33.333% {
        transform: translateY(-3.5px);
      }
      50% {
        transform: translateY(0px);
      }
      66.667% {
        transform: translateY(-3.5px);
      }
      83.333% {
        transform: translateY(-6.5px);
      }
      100% {
        transform: translateY(-10px);
      }
    }

    .arrow-icon:hover {
      cursor: pointer;
      text-shadow: -4px 3px 0 #3a50d9, -9px 7px 0 #0a0e27;
      animation: arrowBounce 1.5s infinite linear;
    }

    .nav-base {
      width: 30%;
      height: 90%;
      margin-top: 1rem;
      display: flex;
      position: relative;
      border-radius: 30px;
      align-items: center;
      justify-content: center;
      background-color: $site-secondary;
      -webkit-box-shadow: 1px 1px 10px #333;
      -moz-box-shadow:    1px 1px 10px #333;
      box-shadow:         1px 1px 10px #333;
    }

    .nav-buttons {
      display: flex;

      .nav-button {
        margin: 1rem;
        border: none;
        margin-left: 0;
        margin-right: 2.5rem;
        padding: 0.5rem;
        border-radius: 25px;
        background-color: $site-secondary;

        mat-icon {
          color: $site-primary;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .minimize-button {
        position: absolute;
        background-color: transparent;
        right: 1rem;
        top: 0.5rem;
        border: none;
        cursor: pointer;

        mat-icon {
          color: $black;
        }
      }

      .nav-button:nth-child(4) {
        margin-right: 0;
      }

      .nav-button:hover {
        cursor: pointer;
        -webkit-box-shadow:  1px 1px 10px #333;
        -moz-box-shadow:     1px 1px 10px #333;
        box-shadow:          1px 1px 10px #333;
      }
    }

    .nav-bucket {
      display: flex;
      height: 100%;
      position: static;
      top: 10rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .tooltip {
        background: white;
      }
    }
}
