@import '~src/styles/_colors.scss';

:host{
    height: 100%;
    width: 100%;

    app-navbar {
        z-index: 999;
    }

    .body {
        height: 100vh;
        width: 100vw;
    }

    .background-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;

      .blob-container {
        position: relative;
        top: -30rem;
        width: 500%;
      }
    }

}
