@import '~src/styles/_colors.scss';
@import '~src/styles/_animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        padding-right: 3vw;
        padding-left: 3vw;
        font-size: 10vw;
        color: $old-lace;
        animation: fadeIn;
        animation-duration: 5s;
        font-family: 'Courgette', cursive;
    }

    .card {
        height: 30vh;
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ball {
        background-color: $old-lace;
        border-radius: 50%;
        height: 2vh;
        width: 2vw;
    }

    .ball-bouncing {
        background-color: transparent;
    }

    .ball-bouncing::before {
        animation: shadowBouncing 1.2s ease-in infinite;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        bottom: 2rem;
        content: '';
        height: 0.15rem;
        position: absolute;
        width: 2vw;
    }

    .ball-bouncing .ball {
        animation: ballBouncing 1.2s ease-in infinite;
        bottom: 2.1rem;
        transform-origin: bottom;
    }

    // ----- Move this later ----- //
    .main-body {
        display: flex;
        align-items: flex-start;
        background-color: blue;
        width: 100vw;
        height: 100vh;
    }

    // ----- Triangles ----- //
    // TODO: Make a geometry file in styles and add common div shapes there

    .triangle-arrow-right {
        width: 0;
        height: 0;
        border-top: 55vw solid transparent;
        border-bottom: 55vw solid transparent;
        border-left: 55vw solid $dark-gray;
    }
}