@import '~src/styles/_colors.scss'; 

.info-banner{
    display: fles; 
    background: $fairy-sparkles-o20; 
    border: 2px solid $cfa-navy-muted; 
    border-radius: 0.25rem; 
    justify-content: center; 
    align-items: cnter; 
    font-weight: bold; 
    width: 55rem; 
    margin: 1rem auto 0 auto; 
    padding: 0.5rem; 
}